@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
      --background: 0 0% 100%;
      --foreground: 0 0% 3.9%;
      --card: 0 0% 100%;
      --card-foreground: 0 0% 3.9%;
      --popover: 0 0% 100%;
      --popover-foreground: 0 0% 3.9%;
      --primary: 24 93% 53%;
      --primary-foreground: 24 100% 97%;
      --secondary: 24 100% 92%;
      --secondary-foreground: 24 100% 10%;
      --muted: 24 20% 96%;
      --muted-foreground: 24 10% 47%;
      --accent: 24 100% 92%;
      --accent-foreground: 24 100% 10%;
      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 24 100% 97%;
      --border: 24 30% 91%;
      --input: 24 30% 91%;
      --ring: 24 93% 53%;
      --radius: 0.75rem;
      --sidebar-background: 24 100% 97%;
      --sidebar-foreground: 24 70% 26%;
      --sidebar-primary: 24 93% 53%;
      --sidebar-primary-foreground: 24 100% 97%;
      --sidebar-accent: 24 100% 92%;
      --sidebar-accent-foreground: 24 100% 10%;
      --sidebar-border: 24 30% 91%;
      --sidebar-ring: 24 93% 53%;
    }
  
    .dark {
      --background: 0 0% 0%;
      --foreground: 24 10% 98%;
      --card: 24 80% 5%;
      --card-foreground: 24 10% 98%;
      --popover: 24 80% 5%;
      --popover-foreground: 24 10% 98%;
      --primary: 24 93% 53%;
      --primary-foreground: 24 100% 10%;
      --secondary: 24 30% 18%;
      --secondary-foreground: 24 10% 98%;
      --muted: 24 30% 18%;
      --muted-foreground: 24 20% 65%;
      --accent: 24 30% 18%;
      --accent-foreground: 24 10% 98%;
      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 24 10% 98%;
      --border: 24 30% 18%;
      --input: 24 30% 18%;
      --ring: 24 93% 53%;
      --sidebar-background: 0 0% 0%;
      --sidebar-foreground: 24 10% 96%;
      --sidebar-primary: 24 93% 53%;
      --sidebar-primary-foreground: 24 100% 97%;
      --sidebar-accent: 24 30% 16%;
      --sidebar-accent-foreground: 24 10% 96%;
      --sidebar-border: 24 30% 16%;
      --sidebar-ring: 24 93% 53%;
    }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.bg-grid-pattern {
  background-size: 50px 50px;
  background-image: linear-gradient(to right,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
}

.bg-dotted-pattern {
  background-color: #f9f9f901;
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 8px 8px;
  /* Adjust size */
}

@media (prefers-color-scheme: dark) {
  .bg-grid-pattern {
    background-image: linear-gradient(to right,
        rgba(255, 255, 255, 0.05) 1px,
        transparent 1px),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  }
}